<div class="header-clearing">
	<div class="body-container">
		<div id="featured-blog-entry">
			<h5>FEATURED</h5>
			<%= link_to post_path(@featured_post) do %>
				<img src="images/ps-image.jpg">
				<h1><%= @featured_post.title %></h1>
			<% end %>
			<div id="author-section">
				<img src="images/casey-img.jpg">
				<p>
					By: Casey Wilson
				</p>
			</div>
			<h3><%= @featured_post.intro_section.try(:html_safe) %></h3>
			<div class="blog-details">
				<img src="images/life-learning.jpeg">
				<p>Category: Life Learning. By: Casey Wilson.
				<br><%= @featured_post.created_at %></p>
			</div>
		</div>
		<div id="latest-posts">
			<h5>MOST RECENT</h5>

			<% @recent_posts.each do |post| %>
				<div class="post-item">
					<div class="left-section">
						
						<%= link_to post_path(post) do %>
							<h3><%= post.title %></h3>
						<% end %>
						<p><%= post.intro_section.try(:html_safe) %></p>
						<div class="blog-details">
							<img src="images/life-learning.jpeg">
							<p>Category: Life Learning. By: Casey Wilson.
							<br><%= post.created_at %></p>
						</div>
					</div>
					<div class="right-section">
						<img src="images/angularjs.jpg">
					</div>
				</div>

			<% end %>
		</div>
	</div>
</div>